<%= render :partial => "search/nav", :locals => { :section => "search-profiles" } %>

<div class="container">
  <% if @profiles.present? %>
    <%= @profiles.each do |user| %>
      <tr>
        <td class="visible-sm visible-xs" style="padding-top: 16px;">
          <img class="img-circle" id="profile-photo" style="width:40px;margin-right:8px;border: 1px solid lightgrey;" src="<%= user.profile_image %>" />
        </td>
        <td style="display: flex; align-items: center;">
          <div class="hidden-sm hidden-xs">
            <img class="img-circle" id="profile-photo" style="width:40px;margin-right:8px;border: 1px solid lightgrey;" src="<%= user.profile_image %>" />
          </div>
          <a style="margin-left: 12px;" href="/profile/<%= user.username %>"><%= user.username %></a>
        </td>
        <td style="padding-top:16px;"><%= time_ago_in_words(Time.at(user.last['changed'])) if user.last %></td>
        <td style="padding-top:16px;"><%= user.node_count %> <%= t('users.list.notes_and_edits') %></td>
        <td style="padding-top:16px;"><%= distance_of_time_in_words(user.created_at, Time.current, { include_seconds: false, scope: 'datetime.time_ago_in_words' }) %></td>
       </tr>
    <% end %>
  <% else %>
    <h4>
      No results found :-(</em>
      </br>
      Try looking for our items tagged with <a href="/tag/<%= params[:query] %>"><strong><%= params[:query] %></strong></a>
    </h4>
  <% end %>
</div>

<%= will_paginate @profiles, :renderer => BootstrapPagination::Rails unless @unpaginated %>
