<%= render :partial => "search/nav" , :locals => { :section => "search-tags" }%>

<div class="container">
  <% if @tags.present? %>
    <h3> <%= @tags.size %> results found for <%= params[:query] %>. </h3>
    <%= @tags.map do |tag| %>
      <%= tag %>
    <% end %>
  <% else %>
    <h4>
      No results found :-(</em>
      </br>
      Try looking for our items tagged with <a href="/tag/<%= params[:query] %>"><strong><%= params[:query] %></strong></a>
    </h4>
  <% end %>
</div>
